# Virtual environments
venv/
env/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
*.sqlite3
db.sqlite3
secrets.json
Ref.txt

# Media files
media/

# Compiled Python files
*.pyc

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db
